# Jupyter
.ipynb_checkpoints/


# Dataset folders
/project recognition bahasa isyarat/asl_alphabet_train/
/project recognition bahasa isyarat/dataset_alfabet/
/project recognition bahasa isyarat/dataset_angka_myself/
/project recognition bahasa isyarat/Dataset_Kata/
/projeck aplikasi bahasa isyarat/final_projeck_recognition_bahasa_isyarat/Dataset_Kata/
/projeck aplikasi bahasa isyarat/final_projeck_recognition_bahasa_isyarat/alfabet_bisindo/
/projeck aplikasi bahasa isyarat/final_projeck_recognition_bahasa_isyarat/dataset_angka_video/
/projeck aplikasi bahasa isyarat/final_projeck_recognition_bahasa_isyarat/dataset_kata_baru1/
/project recognition bahasa isyarat/dataset_angka/

/project recognition bahasa isyarat/alfabet_bisindo/
/project recognition bahasa isyarat/dataset_kata_baru1/
/project recognition bahasa isyarat/dataset_kata_baru2/
/project recognition bahasa isyarat/dataset_kata_baru3/
/project recognition bahasa isyarat/dataset_kata_baru4/
/project recognition bahasa isyarat/dataset_angka_video/
/project recognition bahasa isyarat/dataset_video_kata/
# Model files
/project recognition bahasa isyarat/model_kata.pkl
/project recognition bahasa isyarat/model_alfabet-Copy1.pkl
/project recognition bahasa isyarat/model_angka-Copy1.pkl
/project recognition bahasa isyarat/model_kata-Copy1.pkl
/project recognition bahasa isyarat/extracted_number_data/
/project recognition bahasa isyarat/photo/

/project aplikasi bahasa isyarat/model_alfabet.pkl
/project aplikasi bahasa isyarat/model_angka.pkl
/projeck aplikasi bahasa isyarat/sign_language_fixed/startbootstrap-personal-gh-pages/



# Ignore all pickle files
*.pkl
*.keras
*.h5
*.npy
